In [4]:
import numpy as np
import pandas as pd
import os
import json

In [5]:
members = ['ali', 'anika', 'rayhan', 'sezan', 'mim', 'tamim', 'rafa2', 'shakhwat', 'rafa', 'masud', 'ananya', 'tanoy', 'tanwi', 'mohammad', 'shovon']
groups = {'day1': ['ali', 'anika', 'rayhan', 'sezan', 'mim'], 'only_day2': ['tamim', 'rafa2', 'shakhwat', 'rafa'], 'day2_day3': ['tanoy', 'tanwi', 'masud', 'ananya', 'ali', 'anika', 'sezan', 'mim', 'rayhan'], 'day2_ramen': ['shovon', 'mohammad', 'ali', 'sezan', 'rayhan']}

In [6]:
with open('members_.json','w') as f:
    json.dump(members,f)
with open('groups_.json','w') as f:
    json.dump(groups,f)

In [7]:
with open('expenses.txt','r') as f:
    data = f.readlines()
data

['ali 3000 day2_ramen #####>\n',
 'rayhan 10000 ananya,anika,rayhan,sezan #####>\n',
 'tamim 2000 only_day2,ali,anika,mim,sezan #####>\n',
 'rafa2 2008 only_day2,ali,mim,sezan,day2_day3 #####>taxi\n',
 'sezan 200 day1,tamim,mim #####>taxi\n',
 'shakhwat 6000 day1,tamim,mim,day2_day3 #####>taxi\n',
 'tanwi 500 tamim,mim,rayhan,tanwi #####>taxi\n',
 'tanoy 3000 tamim,mim,rayhan,tanwi,only_day2 #####>taxi\n',
 'ali 3000 mim,rayhan,only_day2,tanoy,anika #####>taxi\n',
 'mohammad 3006 mim,rayhan,only_day2,tanoy,anika,mohammad,shovon #####>no comment\n',
 'tanoy 2996 mim,rayhan,only_day2,tanoy,anika,mohammad,shovon,ananya,ali #####>no comment\n',
 'rafa 5000 rayhan,tanoy,ananya,masud #####>no comment\n',
 'anika 5000 rayhan,tanoy,ananya,masud #####>no comment\n',
 'masud 3000 rayhan,tanoy,ananya,masud,day2_day3 #####>no comment\n',
 'rayhan 30000 day1,only_day2,day2_day3,day2_ramen #####>no comment\n']

In [53]:
df = pd.DataFrame(columns=['who_paid','amount']+members)
df

Empty DataFrame
Columns: [who_paid, amount, ali, anika, rayhan, sezan, mim, tamim, rafa2, shakhwat, rafa, masud, ananya, tanoy, tanwi, mohammad, shovon]
Index: []

In [54]:
line = data[0]
frm,amnt,t2 = single_line_handle(line)

df.loc[0,'who_paid'] = frm
df.loc[0,'amount'] = amnt
df.loc[0,members] = payee_handler(payee=t2,members=members)

In [55]:
df

,who_paid,amount,ali,anika,rayhan,sezan,mim,tamim,rafa2,shakhwat,rafa,masud,ananya,tanoy,tanwi,mohammad,shovon
0,ali,3000,True,False,True,True,False,False,False,False,False,False,False,False,False,True,True

In [56]:
for i in range(len(data)):
    line = data[i]
    frm,amnt,t2 = single_line_handle(line)
    df.loc[i,'who_paid'] = frm
    df.loc[i,'amount'] = amnt
    df.loc[i,members] = payee_handler(payee=t2,members=members)

In [57]:
df

,who_paid,amount,ali,anika,rayhan,sezan,mim,tamim,rafa2,shakhwat,rafa,masud,ananya,tanoy,tanwi,mohammad,shovon
0,ali,3000,True,False,True,True,False,False,False,False,False,False,False,False,False,True,True
1,rayhan,10000,False,True,True,True,False,False,False,False,False,False,True,False,False,False,False
2,tamim,2000,True,True,False,True,True,True,True,True,True,False,False,False,False,False,False
3,rafa2,2008,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False
4,sezan,200,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False
5,shakhwat,6000,True,True,True,True,True,True,False,False,False,True,True,True,True,False,False
6,tanwi,500,False,False,True,False,True,True,False,False,False,False,False,False,True,False,False
7,tanoy,3000,False,False,True,False,True,True,True,True,True,False,False,False,True,False,False
8,ali,3000,False,True,True,False,True,True,True,True,True,False,False,True,False,False,False
9,mohammad,3006,False,True,True,False,True,True,True,True,True,False,False,True,False,True,True
10,tanoy,2996,True,True,True,False,True,True,True,True,True,False,True,True,False,True,True
11,rafa,5000,False,False,True,False,False,False,False,False,False,True,True,True,False,False,False
12,anika,5000,False,False,True,False,False,False,False,False,False,True,True,True,False,False,False
13,masud,3000,True,True,True,True,True,False,False,False,False,True,True,True,True,False,False
14,rayhan,30000,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [26]:
d = data[0]
d

'ali 3000 day2_ramen #####>\n'

In [27]:
d.split()

['ali', '3000', 'day2_ramen', '#####>']

In [28]:
frm = d.split()[0]
amnt = int(d.split()[1])

In [29]:
t1 = d.split()[2]

In [30]:
t1

'day2_ramen'

In [31]:
t1.split(',')

['day2_ramen']

In [32]:
t2 = []
for i in t1.split(','):
    if i in list(groups.keys()):
        t2.extend(groups[i])
    else:
        t2.append(i)
t2 = set(t2)
t2

{'ali', 'mohammad', 'rayhan', 'sezan', 'shovon'}

In [33]:
t2

{'ali', 'mohammad', 'rayhan', 'sezan', 'shovon'}

In [34]:
def single_line_handle(d):
    frm = d.split()[0]
    amnt = int(d.split()[1])
    t1 = d.split()[2]
    t2 = []
    for i in t1.split(','):
        if i in list(groups.keys()):
            t2.extend(groups[i])
        else:
            t2.append(i)
    t2 = set(t2)
    return frm,amnt,list(t2)

In [35]:
single_line_handle(data[5])

('shakhwat',
 6000,
 ['mim',
  'tamim',
  'ali',
  'masud',
  'anika',
  'sezan',
  'tanwi',
  'ananya',
  'rayhan',
  'tanoy'])

In [48]:
df.loc[0,'who_paid'] = single_line_handle(data[5])[0]
df.loc[0,'amount'] = single_line_handle(data[5])[1]
df.loc[0,members] = payee_handler(single_line_handle(data[5])[2],members)

In [49]:
df

,who_paid,amount,ali,anika,rayhan,sezan,mim,tamim,rafa2,shakhwat,rafa,masud,ananya,tanoy,tanwi,mohammad,shovon
0,shakhwat,6000,True,True,True,True,True,True,False,False,False,True,True,True,True,False,False

In [42]:
t2 = single_line_handle(data[5])[2]

In [44]:
np.where(np.array(members) == np.array(t2))

ValueError: shape mismatch: objects cannot be broadcast to a single shape

In [45]:
TFs = []
for i in members:
    if i in t2:
        TFs.append(True)
    else:
        TFs.append(False)

In [46]:
TFs

[True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False]

In [47]:
def payee_handler(payee,members):
    TFs = []
    for i in members:
        if i in payee:
            TFs.append(True)
        else:
            TFs.append(False)
    return TFs